<div class="ui bottom attached tab segment" data-tab="pictures">
  <!-- <div class="ui medium images"> -->
    <div class="ui three column grid">
<!-- <div class="row"> -->
    <% if user.pic_posts.count > 0 %>
      <%= render :partial => "pictures/index", :locals => {user: user, pictures: user.pic_posts.order(created_at: :desc)} %>
      <% else %>
        <p>No pictures uploaded by <%= user.username %></p>
      <% end %>
    </div>
  </div>
</div>
