<%= render "shared/navbar" %>

<div class="ui middle aligned center aligned grid new_edit_form">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        <!-- check if the post exist meaning we want to edit. if not we want to create new -->
        Edit your comment
      </div>
    </h2>
    <div class="ui feed tall stacked segment">
      <!-- Show the post -->
      <%= render :partial => "posts/post",  locals: { post: @post, poster:  @post.authors.last }  %>
      <!-- Show add new comment form -->
      <%= render :partial => "comments/new",  locals: { post: @post, comment: @comment }  %>
    </div>
  </div>
</div>
