  <% pictures.each do |pic| %>
  <div class="column thumb-backgroun">
      <%= link_to image_tag(pic.file.url(:medium)), user_picture_path(user, pic), class: 'user-photos-tab bordered' %>
  </div>
  <% end %>
