<%= render "shared/navbar" %>

  <div class="ui grid">
    <div class="ui feed center aligned piled segment">
      <!-- Show the post -->
      <%= render :partial => "picture",  locals: { picture: @picture, poster: @poster }  %>
      <!-- Show add new comment form -->
      <%= render :partial => "comments/picture_new",  locals: { poster: @poster, picture: @picture, comment: @comment }  %>
    </div>
  </div>
</div>
