<div class="four wide column">
  <div class="ui stacked segment center aligned requested-freinds">
    <h4>Freinds Requests</h4>
    <div class="ui fluid centered card">
      <a class="image">
        <img src="/img/profile.jpg">
      </a>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
    <div class="ui fluid centered card">
      <a class="image">
        <img src="/img/profile.jpg">
      </a>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
    </div>
    <div class="ui fluid centered card">
      <a class="image">
        <img src="/img/profile.jpg">
      </a>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div>
    <div class="ui divider"></div>
    <h4>Suggested Freinds</h4>
    <div class="ui fluid centered card">
      <a class="image">
        <img src="/img/profile.jpg">
      </a>
      <div class="content">
        <a class="header">Lucy Fabric</a>
      </div>
    </div>
    <div class="ui fluid centered card">
      <a class="image">
        <img src="/img/profile.jpg">
      </a>
      <div class="content">
        <a class="header">Tony Will</a>
      </div>
    </div>
    <div class="ui fluid centered card">
      <a class="image">
        <img src="/img/profile.jpg">
      </a>
      <div class="content">
        <a class="header">Jake Lee</a>
      </div>
    </div>
  </div>
</div>
