<% @posts.each do |post| %>
  <p>Post "<%= link_to post.body,post_path(post) %>" was made by <%= post.author_name %></p>
<% end %>

<%= link_to new_post_path() do %>
  <button>Add new post</button>
<% end %>
