<%= render "shared/navbar" %>

<div class="ui container">
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui feed piled segment">
        <%= link_to new_post_path() do %>
          <button class="ui teal button">Add new post</button>
        <% end %>
        <% likes_number = 0 %>
        <% @posts.each do |post| %>
          <% likes_number += 1 %>
          <%= render :partial => post,  locals: { post: post, likes_number: likes_number }  %>
        <% end %>
      </div>
    </div>
    <%= render partial: "posts/suggest_friends" %>
  </div>
</div>
