<%= render "shared/navbar" %>

<div class="ui container">
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui feed piled segment">
        <% if user_signed_in? %>
          <%= link_to new_post_path() do %>
            <button class="ui teal button">Add new post</button>
          <% end %>
        <% end %>
        <% likes_number = 0 %>
        <% i = 0 %>
        <% @posts.each do |post| %>
          <% likes_number += 1 %>
          <%= render :partial => post,  locals: { post: post, poster: @names[i], likes_number: likes_number }  %>
          <% i += 1 %>
          <div class="ui divider"></div>
        <% end %>
      </div>
    </div>
    <%= render partial: "posts/suggest_friends" %>
  </div>
</div>
