<div class="ui container">
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui feed piled segment">
        <% @posts.each do |post| %>
          <%= render post %>
        <% end %>
        <%= link_to new_post_path() do %>
          <button>Add new post</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
