<div class="ui container">
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui feed piled segment">
        <%= render "posts/post", post: @post %>
      </div>
    </div>
  </div>
</div>
