.navbar {
  .large {
    .icon:first-child {
      margin-right: 0;
    }
  }
  .menu {
    font-size: 1.1rem;

    .item {
      padding: 0 8%;
    }
  }
}

.large-text {
  font-size: 2rem;
  color: teal;
}
