// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture_show {
  width: 40%;
  height: auto;
  display: block;
  margin: 3% 3% 3% 0;
}
