// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.requested-freinds {
  .card {
    width: 70% !important;

    .content {
      font-size: 0.8rem;
    }
  }
}

.date {
  display: inline-block;
}

.container {
  // padding-top: 10%;
  margin-top: 15%;
}

div {
  &.ui {
    &.feed {
      &.piled {
        &.segment {
          margin: 0 5% 5% 3%;
        }
      }
    }
  }
}
.summary {
  .sticky {
    margin-left: 90%;
  }
}
