// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending-friends {
  .cards {
    margin-left: 10% !important;
    width: 80% !important;
  }
}

.requested-friends {
  .special.cards {
    margin-left: 15% !important;

    .card {
      width: 70% !important;
    }
  }
}

.date {
  display: inline-block;
}

.container {
  margin-top: 10%;
}

div {
  &.ui {
    &.feed {
      &.piled {
        &.segment {
          margin: 0 5% 5% 3%;
        }
      }
    }
  }
}
.summary {
  .sticky {
    margin-left: 90%;
  }
}
