// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-container {
  height: 50vh;
  padding: 0 3vw;
  margin-top: 10%;

  .background-img {
    height: 100% !important;
    height: 50vh;
    position: relative;
  }

  .shape {
    position: absolute !important;
    top: 40%;
    left: 10%;
  }

  .small-card {
    max-width: 70% !important;
  }
}

.link.cards {
  width: 25% !important;
}
.pointing {
  .container {
    margin-top: 6%;
  }
}

.requested-freinds {
  .card {
    width: 70% !important;

    .content {
      font-size: 0.8rem;
    }
  }
}

.user-photos-tab {
  max-width: 20%;
  max-height: auto;
 }
